.post{
   margin-bottom: 30px;
   font-size: 20px;
}

/* .container{
  width: 1980px;
} */

.bodyGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bodytxt{
  width: 400px;
}

.bodyimg{
  width: 360px;
  height: 240px;
  border-radius: 6px;
  margin-top: 15px;
}

.bodycontent{
  display: flex;
  flex-direction: column;
  width: 360px;
}

.bodyTextSm{
  color: #4B6BFB;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  background-color:#4B6BFB0D;
  display: inline-block;
  margin-bottom: 0;
}

.bodyTextLg{
   color: #181A2A;
   font-size : 17px;
   font-weight: 600;
   margin-top: 14px;
  }

.mainText{
    display: flex;
    margin-left: 8px;
    font-size: 16px;
    color: #97989F;   
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}

.endtxts{
    font-size: 15px;
} 

.readBtn{
  font-size: 16px;
  font-weight: 500;
  color:#24294c;
  border: none;
  background-color: #4B6BFB0D;
  padding: 10px;
  border-radius: 5px;
  margin-top: 8px;
  text-align: center;

}

